extends layout

block content
  h1= title
  ul
    li
      a(href='/terrains') Liste des Terrains
    li
      a(href='/login') Page de Connexion
    li
      a(href='/creneaux') Créneaux Disponibles
